Options +FollowSymlinks
RewriteEngine On
RewriteRule ^Technos$ index.php?page=Technos [L]
RewriteRule ^Applis$ index.php?page=Applis [L]
RewriteRule ^Security$ index.php?page=Security [L]
RewriteRule ^Accueil$ index.php?page=Accueil [L]
RewriteRule ^Disconnect$ index.php?page=Disconnect [L]

ErrorDocument 404 /error_404.php